<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Transparencia Brasil</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="bolsa-familia" class="menu-about">
      Bolsa Familia
    </LinkTo>
  </div>
</nav>