<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Transparencia Brasil</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="record" class="menu-about">
      Emendas Parlamentares
    </LinkTo>
  </div>
</nav>