<article class="record">
  <div class="details">
    <h3>{{@model.codigoEmenda}}</h3>
    <div class="detail ref-date">
      <span>Ano:</span> {{@model.ano}}
    </div>
    <div class="detail value">
      <span>Author:</span> R$ {{@model.autor}}
    </div>
  </div>
</article>