<Jumbo>
  <h2>Bolsa Familia</h2>
  <p>
    Com o Programa Bolsa Fam&#237;lia, 
    as fam&#237;lias de baixa renda do Brasil garantem o acesso a servi&#231;os essenciais, 
    como alimenta&#231;&#227;o, sa&#250;de e educa&#231;&#227;o.
  </p>
  <div class="rentals">
    <ul class="results">
        <li><BolsaFamiliaRecord @record={{model}} /></li>
        <li><BolsaFamiliaRecord @record={{model}}/></li>
    </ul>
  </div>

  <LinkTo @route="index" class="button">Voltar</LinkTo>
</Jumbo>