<Jumbo>
    <h2>Transparencia Brasil</h2>
    <p>A Transpar&ecirc;ncia Brasil (TB) &eacute; uma organiza&ccedil;&atilde;o independente e aut&ocirc;noma brasileira, que tem como principal objetivo a luta contra a corrup&ccedil;&atilde;o no Brasil.</p>
    <LinkTo @route="record" class="button">Emendas Parlamentares</LinkTo>
</Jumbo>